.containerSide {
    position: absolute;
    width: 280px;
    max-width: 280px;
    background-color: #fff;
    bottom: 0;
    color: #000;
    height: 100vh;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 0;
    animation: side 0.5s;
}

@keyframes side {
    0% {
        left: -280px;
    }
    100% {
        left: 0px;
    }
}

.closeButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 60px;
    color: #757575;
    padding: 0px 5px;
}

@media (max-width: 640px) {
    .closeButton{
        margin-top: 60px;
    }
}


.closeIcon{
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.closeIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: Roboto, Arial, sans-serif;
    text-decoration: none;
}

.googleIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.googleIcon::before {
    content: url(https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg);
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 74px;
}

.translateText {
    flex-direction: row;
    justify-content: start;
    text-align: start;
    align-items: center;
    height: 100%;
    font-size: 22px;
    margin-left: 5px;
    font-weight: 500;
    color: #5f6368;
    white-space: nowrap; 
    overflow: hidden;           
    text-overflow: ellipsis; 
    display: inline-block;      
    max-width: 100%; 
}

.options {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
}

.option {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 50px;
    padding-left: 40px;
    align-items: center;
}

.option>a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
}

.option:hover {
    cursor: pointer;
    background-color: rgba(117, 117, 117, 0.1);
}