.container{
    display: block;
    top: 65px;
    height: 1135px;
    max-height: 1135px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 0;
    position: block;
    width: 100vw;
    max-width: 100vw;
}
.band{
    background-color: rgba(246,246,246,255);
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    width: 100vw;
    max-width: 100vw;
    height: 160px;
    max-height: 160px;
}