.container {
    width: 100vw;
    max-width: 100vw;
    height: 65px;
    max-height: 65px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 986;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    color: black;
    min-width: 160px;
    transition: box-shadow 250ms;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 8px;
    padding-right: 30px;
    height: 64px;
    max-height: 64px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.contentLeft {
    display: flex;
    padding-right: 30px;
    box-sizing: border-box;
    height: 48px;
    width: 1200px;
    min-width: 250px;
    vertical-align: middle;
    white-space: nowrap;
}

.menuIcon {
    color: #5f6368;
    opacity: 1;
    cursor: pointer;
    white-space: nowrap;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 4px;
    padding: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconImg {
    width: 48px;
    height: 48px;
    padding: 2px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}

.iconImg:hover {
    background-color: rgba(117, 117, 117, 0.2);
}

.iconTabler,
.iconApps {
    width: 48px;
    height: 48px;
    padding: 1px;
    vertical-align: none;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: Roboto, Arial, sans-serif;
}

.googleIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    max-height: 30px;
}

.translateText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    height: 30px;
    max-height: 30px;
    font-size: 22px;
    margin-left: 5px;
    font-weight: 400;
    color: #5f6368;
    opacity: 1;
}

.googleIcon::before {
    content: url(https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg);
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 74px;
}

.contentRight {
    display: flex;
    box-sizing: border-box;
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 30px;
}

.iconImg>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}