.containerFrom {
    padding: 20px 58px 20px 24px;
    border: 0;
    height: 200px;
    width: 600px;
    max-width: 600px;
    resize: none;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, .87);
    border-right: 1px solid rgba(0, 0, 0, .12);
}

.containerFrom::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 1);
}

.containerFrom::-webkit-scrollbar:vertical {
    width: 1vw;
}

.containerFrom::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
    display: none;
}

.containerFrom::-webkit-scrollbar:horizontal {
    height: 10px;
}

.containerFrom::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .12);
    border-radius: 20px;
    border: 1.5px solid rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    margin: 1vw;
}

.containerTo::-webkit-scrollbar {
    background-color: rgba(246, 246, 246, 1);
}

.containerTo::-webkit-scrollbar:vertical {
    width: 1vw;
}

.containerTo::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
    display: none;
}

.containerTo::-webkit-scrollbar:horizontal {
    height: 10px;
}

.containerTo::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .12);
    border-radius: 20px;
    border: 1.5px solid rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    margin: 1vw;
}


.containerFrom:disabled {
    cursor: text;
}

.containerTo {
    padding: 20px 58px 20px 24px;
    border: 0;
    height: 200px;
    width: 600px;
    max-width: 600px;
    resize: none;
    background-color: rgba(246, 246, 246, 1);
    color: rgba(0, 0, 0, .87);
}

.containerFrom:focus {
    outline: none;
}

.containerTo:focus {
    outline: none;
}