.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 30px 200px;
}

.translateArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}





.copyButton:hover {
    text-decoration: none;
}

.speakButton:hover {
    text-decoration: none;
}

.copyIcon,
.speakIcon,
.deleteIcon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 4px;
    color: #5f6368;
}

.deleteIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}

.copyIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}

.speakIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}



.copyButton {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 200px;
    left: 15px;
    flex-direction: row;
    color: rgba(0, 0, 0, .87);
    padding: 4px;
    justify-content: center;
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
    border: none;
    border-radius: 0;
    background-color: rgba(246, 246, 246, 255);
}

.deleteButton {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 60px;
    left: 530px;
    flex-direction: row;
    color: rgba(0, 0, 0, .87);
    padding: 4px;
    justify-content: center;
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 1);
}

.countChars{
    display: flex;
    position: absolute;
    top: 260px;
    left: 510px;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    width: 80px;
    max-width: 80px;
    height: 30px;
    max-height: 30px;
    margin: 0;
    color: #5f6368;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.speakButton {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 200px;
    left: 60px;
    flex-direction: row;
    color: rgba(0, 0, 0, .87);
    padding: 4px;
    justify-content: center;
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
    border: none;
    border-radius: 0;
    background-color: rgba(246, 246, 246, 255);
}

