.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
    background-color: transparent;
    margin: 0 80px;
    border: 1px solid rgba(0, 0, 0, .12);
    width: 1202px;
    max-width: 1202px;
    top: 135px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.languajeSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    max-height: 50px;
    background-color: rgba(255, 255, 255, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.fromLanguageCont {
    width: 600px;
    max-width: 600px;
    height: 240px;
    max-height: 240px;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-right: 1px solid rgba(0, 0, 0, .12);
}

.interchangeButton {
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, .87);
    padding: 4px;
    justify-content: center;
    width: 40px;
    max-width: 40px;
    height: 38px;
    max-height: 38px;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 1);
}

.interchangeButton:hover {
    text-decoration: none;
}

.interchangeButton:disabled > .interchangeIcon{
    background-color: rgba(255, 255, 255, 1);
    cursor:default;
}

.copyButton:hover {
    text-decoration: none;
}

.speakButton:hover {
    text-decoration: none;
}

.interchangeIcon,
.copyIcon,
.speakIcon,
.deleteIcon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 4px;
    color: #5f6368;
}

.interchangeIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}

.deleteIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}

.copyIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}

.speakIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}

.toLanguageCont {
    width: 600px;
    max-width: 600px;
    height: 240px;
    max-height: 240px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.copyButton {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 192px;
    left: 15px;
    flex-direction: row;
    color: rgba(0, 0, 0, .87);
    padding: 4px;
    justify-content: center;
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
    border: none;
    border-radius: 0;
    background-color: rgba(246, 246, 246, 255);
}

.deleteButton {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 60px;
    left: 530px;
    flex-direction: row;
    color: rgba(0, 0, 0, .87);
    padding: 4px;
    justify-content: center;
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 1);
}

.countChars{
    display: flex;
    position: absolute;
    top: 250px;
    left: 520px;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    width: 70px;
    max-width: 70px;
    height: 30px;
    max-height: 30px;
    margin: 0;
    color: #5f6368;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.speakButton {
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 192px;
    left: 60px;
    flex-direction: row;
    color: rgba(0, 0, 0, .87);
    padding: 4px;
    justify-content: center;
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
    border: none;
    border-radius: 0;
    background-color: rgba(246, 246, 246, 255);
}

.startIcon{
    position: absolute;
    top: 50vh;
    left: 36.5vw;
    width: 200px;
    max-width: 200px;
    height: 150px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #757575;
}
.startIcon:hover{
    color: #757575;
}
.startButton{
    border: 1px solid rgba(0, 0, 0, .12);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    width: 80px;
    max-width: 80px;
    height: 80px;
    max-height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.textStart{
    width: 200px;
    max-width: 200px;
    height: 10px;
    max-height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}