@font-face {
    font-family: Roboto;
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.selectLanguageContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 48%;
    height: 100%;
    color: rgba(0, 0, 0, .87);
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    .selectLanguageContainer>li:nth-child(4) {
        display: none;
    }

    .selectLanguageContainer>li {
        padding: 0px 10px;
    }
}

@media (max-width: 640px) {
    .selectLanguageContainer>li:nth-child(n+2) {
        display: none;
    }

    .selectLanguageContainer>li:nth-child(1) {
        width: 90%;
        padding: 0px 2px;
    }
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 100%;
    color: #5f6368;
    font-size: 13px;
    width: auto;
    cursor: pointer;
    flex-wrap: nowrap;
    padding: 0px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.language:hover {
    background-color: rgb(60, 64, 67, 0.1);
    color: black;
}

.languageSelected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 100%;
    font-size: 13px;
    width: auto;
    cursor: pointer;
    flex-wrap: nowrap;
    color: rgb(25, 103, 210);
    box-sizing: border-box;
    border-bottom: 3px solid rgb(25, 103, 210);
    padding: 0px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.languageSelected:hover {
    background-color: rgba(25, 103, 210, 0.1);
}

.moreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #5f6368;
    width: 45px;
    cursor: pointer;
}

.moreIcon,
.closeIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

.moreIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}

.closeIcon:hover {
    background-color: rgba(117, 117, 117, 0.2);
}