.container {
    padding: 20px;
    height: 100%;
    border: none;
    width: 100%;
    resize: none;
    color: rgba(0, 0, 0, .87);
}

.container:disabled {
    cursor: text;
}

.container:focus {
    outline: none;
}